body{
    overflow-x: visible;
    /* overflow-y: hidden; */
    width: 600vw;
    height: 100vh;    
}
html{
    scrollbar-color: #A9BCD0 black;
    scrollbar-arrow-color: #A9BCD0;
    overflow-y: hidden
}
.wrapper {
    display: grid;
    grid-template-columns:  repeat(7, 1fr);
    grid-template-rows: 4fr; 
    grid-auto-rows: 100vh;
    grid-auto-columns: 100vw;
    color: black;
}
.size{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}
.space{
    margin:30px;
}
.animation{
    animation: 3s linear 1s infinite alternate slidein;
}
.langages{
    border: 2px dotted black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.framework{
    border: 2px solid black;
    width: 350px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.fusee{
    width: 700px;
    height: 200px;
}
.navbar{
    width: 30vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    z-index: 1;
}
a{
    color: white;
}
a:hover{
    color: #B1B695;
}
h1{
    font-family: 'Raleway Dots', cursive;
    font-size: 4vmax;
}
.bold{
    font-weight: bold;
    font-size: 2.5vmax;
}
.center {
    text-align: center;
    margin-left: 50px;
}
.name{
    text-align: center;
    font-size: 2vmax;
    color: #FCD0A1;
}
.title{
    text-align: center;
    font-size: 1.2vmax;
    color: #A9BCD0;

}
.margin{
    margin-left: 40%;
    margin-top: 5%;
}
.presentation{    
    background: linear-gradient(to right,#FCD0A1,#B1B695);
}

.barre{
    text-decoration:line-through
}
.presentation_name{
    font-family: 'Dancing Script', cursive;
    font-size: 4vmax;
    color: black;    
    text-align: center;
}
.presentation_title{    
    font-size: 2vmax;
    color: black;    
    text-align: center;
}
.technologies{
    background: linear-gradient(to right,#B1B695,#A9BCD0);
}
.projects{
    background: linear-gradient(to right,#A9BCD0,#58A4B0);
}
.experiences{    
    background: linear-gradient(to right,#58A4B0,#53917E);
}
.contact{
    background: linear-gradient(to right,#53917E,#63535B);
}
.social-media{
    background: linear-gradient(to right,#63535B, black);
}
.footer{
    width: 70vw;
    height: 100vh;
    background-color: black;
    color: white;
}

.footer_quote{    
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5vmin;
}
hr{
    color: white;
    width: 70%;
    text-align: center;
    border: 1px dashed white;
}
.noSelect
{
 -moz-user-select: none; /* Firefox */
 -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
 -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
 user-select: none; /* Propriété standard */
}
h2{
    
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 3%;
}
.tab{
    margin-left: 20px;
}
.button-langage{
    background-color: transparent;
    color: black;
    border: none;
    width: 120px;
    font-family: 'Dancing Script', cursive;
}